* {
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
}

.dark {
    background-color: rgb(240, 16, 139);
    color: #eba8df;
}

.light {
    background-color: #eba8df;
    color: rgb(240, 16, 139);
}

.container {
    padding-left: 30%;
    padding-right: 30%;
}

section{
    padding-top: 2em;
    padding-bottom: 2em;
}

section h3 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}


section img{
    width: 100%;
    max-width: 300px;
}

header {
    border-bottom: 1px solid #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
}

header li {
    display: inline-block;
    margin-left: 3em;
}

header li a {
    color: #f7d8f1;
    font-weight: lighter;
}


.identity { 
    background-color: rgb(240, 16, 139);
    color: #FFF;
    padding: 7em 2em;
}

.identity h1 {
    font-size: 2.5em;
    margin-bottom: 0.7em;
}

.identity h2 {
    font-size: 1.5em;
    font-weight: 200;
}

.projects-header{
    float: left;
    width: 30%;
}

.projects-header h3 {
    margin-top: 1em;
}

.projects{
    margin-left: 40%;

}

.projects li {
    background-color: #e166e6;
    padding: 1em;
    margin-bottom: 2em;
}

.projects li a {
    color: #fff;
    font-size: 1.3em;
}

.projects li p {
    color: rgb(245, 188, 237);
    margin-top: 0.5em;
}

#sobre p.bio {
    color:#e166e6 ;
    font-size: 1.5em;
    margin: 1em;
}

#sobre p.text {
    margin: 1em;
}

#sobre p.bio, #sobre p.text{
    width: 50%;
}

p {
    font-size: 14;
}

#sobre img {
    width: 200px;
    float: right;
}

#contato li {
    display: inline-block;
    margin: 1em;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
}