@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Montserrat:wght@300&display=swap');

.titulo-do-blog {
    background-color: #db839fee;
    color:#fff;
    padding: 4em 3em 3em;
    text-align: center;
}

.titulo-do-blog h1 {
    font-size: 1.5em;
    padding-top: 1.3em;
}

.posts li {
    background-color: rgba(212, 134, 159, 0.932);
    padding: 1em;
    margin-bottom: 2em;
}

.posts li h1 {
    font-family: 'Elsie Swash Caps', cursive;
    font-size: large;
    color: #fff;
    line-height: 1.5;
}

.posts li p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(247, 245, 246);
    margin-top: 0.5em;
    text-align: justify;
    line-height: 1.2;
}