section{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

section h3 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}


section img{
    width: 100%;
    max-width: 300px;
}

.identity { 
    background-color: rgb(240, 16, 139);
    color: #FFF;
    padding: 10em 2em 7em;
}

.identity h1 {
    font-size: 2.5em;
    margin-bottom: 0.7em;
}

.identity h2 {
    font-size: 1.5em;
    font-weight: 200;
}

.projects-header{
    float: left;
    width: 30%;
}

.projects-header h3 {
    margin-top: 1em;
}

.projects{
    margin-left: 40%;

}

.projects li {
    background-color: #e166e6;
    padding: 1em;
    margin-bottom: 2em;
}

.projects li a {
    color: #fff;
    font-size: 1.3em;
}

.projects li p {
    color: rgb(245, 188, 237);
    margin-top: 0.5em;
    text-align: justify;
    line-height: 1.2;
}

#sobre p.bio {
    color:#e166e6 ;
    font-size: 1.2em;
    margin: 1em;
}

#sobre p.text {
    margin: 1em;
    text-align: justify;
    line-height: 1.4;
}

#sobre p.bio, #sobre p.text{
    width: 50%;
}

p {
    font-size: 14;
}

#sobre img {
    width: 200px;
    float: right;
}

