@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Montserrat:wght@300&display=swap');


* {
    box-sizing: border-box;
}

italic {
    font-style: italic;
}

a {
    text-decoration: none;
}

section{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

section h3 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.dark {
    background-color: rgba(219, 131, 159, 0.932);
    color: #fff;
}

.light {
    background-color: #f5dfeb;
    color: #fff;    
}

.container {
    padding-left: 30%;
    padding-right: 30%;
}

header {
    border-bottom: 1px solid #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    position: fixed;
    width: 100%;
    height: 3em;
}


header li {
    display: inline-block;
    margin-left: 1em;
}

header li a {
    color: rgb(238, 27, 150);
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em 0.1em rgb(219, 155, 190);
    margin-left: 1em;    
}

header li a:hover {
    color: #fff;
    text-decoration: underline;
}

#sobre img {
    margin-top: 1.7em;
    width: 200px;
    float: right;
}

#sobre p.bio {
    font-family: 'Elsie Swash Caps', cursive;
    color:#fff;
    font-size: 1.1em;
    margin: 1em;
}

#sobre p.text {
    color: #fff;
    margin: 1em;
    text-align: justify;
    line-height: 1.4;
}

#sobre p.bio, #sobre p.text{
    width: 50%;
}

p {
    font-size: 14;
}

#contato h3 {
    color: rgb(238, 27, 150);
    text-shadow: 0.1em 0.1em 0.1em rgb(199, 128, 167);
}

#contato p {
    color: rgb(238, 27, 150);
    text-shadow: 0.1em 0.1em 0.1em rgb(199, 128, 167);
}

#contato li {
    display: inline-block;
}

#contato li a {
    display: inline-block;
    margin: 1em;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
}

#contato .email {
    background-image: url('../imagens/email.png');
}

#contato .email:hover {
    transform: scale(1.2);
}

#contato .twitter{
    background-image: url('../imagens/twitter.png');
}

#contato .twitter:hover {
   transform: scale(1.2);
}

#contato .github{
    background-image: url('../imagens/github.png');
}

#contato .github:hover {
    transform: scale(1.2);
}

#contato .facebook {
    background-image: url('../imagens/facebook.png');
}

#contato .facebook:hover {
    transform: scale(1.2);
}

#contato .linkedin {
    background-image: url('../imagens/linkedin.png');
}

#contato .linkedin:hover {
    transform: scale(1.2);
}

footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
